<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue-test</title>
  <script src="../vue.js"></script>
</head>

<body>
  <!-- Vue实例的挂载点 -->
  <div id="root">
    {{msg}}
    <p v-text="vText"></p>
    <p v-html="vHtml"></p>
    <br>
    <!-- <button @click="handleClick" ref="btn1">点击事件</button> -->
    <button @click="handleClick" :style="styles">点击事件</button>
    <br>

    <!-- 数据的双向绑定 -->
    <input type="text" v-model="context" />
    <span>{{context}}</span>

    <!-- 计算属性 -->
    <div>
      姓：<input type="text" v-model="firstName" />
      名：<input type="text" v-model="lastName" />
      <div>{{fullName}}</div>
      <div>姓名被修改的次数：{{count}}</div>
    </div>

    <!-- 利用数据控制页面显示 -->
    <div>
      <h1 v-if="!hide">Hello Vue !!</h1>
      <!-- <h1 v-show="!hide">v-show 会用样式修改DOM的展示</h1> -->
      <button @click="toggle">toggle</button>
    </div>

    <!-- v-for循环渲染 -->
    <ul>
      <li v-for="(i, index) of list" :key="index">{{i}}</li>
    </ul>
  </div>
  <!-- 插值表达式 {{value}} -->

  <!-- <div id="root"></div> -->
  <script>
    // Vue 实例
    new Vue({
      el: '#root',
      // 在挂载点内添加模板
      // template: '<h1>say: {{msg}}</h1>',
      data: {
        msg: 'Hello world!',
        vText: 0,
        vHtml: '<b>这是一个P标签</b>',
        styles: {},
        context: '双向绑定',
        firstName: '',
        lastName: '',
        count: 0,
        hide: false,
        list: ['a', 'b', 'c']
      },
      // 计算属性 当依赖的数据没有发生改变时，不会进行重新计算
      computed: {
        fullName() {
          return this.firstName + ' ' + this.lastName
        }
      },
      // 侦听器
      watch: {
        // 如果数据发生了改变
        // firstName() {
        //   this.count++
        // },
        // lastName() {
        //   this.count++
        // }
        fullName() {
          this.count++
        }
      },
      methods: {
        // handleClick() {
        //   let btn = this.$refs.btn1;
        //   let r = Math.floor(Math.random() * 256)
        //   let g = Math.floor(Math.random() * 256)
        //   let b = Math.floor(Math.random() * 256)
        //   btn.style.color = 'rgb(' + r + ', ' + g + ', ' + b + ')'
        // }
        handleClick() {
          let r = Math.floor(Math.random() * 256)
          let g = Math.floor(Math.random() * 256)
          let b = Math.floor(Math.random() * 256)

          this.styles = {
            color: 'rgb(' + r + ', ' + g + ', ' + b + ')'
          }
        },
        toggle() {
          this.hide = !this.hide
        }
      }
    })
  </script>
</body>

</html>